*{
    /*border: 1px solid coral;*/
    font-family:'Courier New ', courier, monospace;
    font-size: 18px;
}
h1{
    font-family:'Courier New ', courier, monospace;
    font-size: 22px;
}
p{
    font-family:'Courier New ', courier, monospace;
    font-size: 20px;
}
.target-text{
    font-weight: 900;

}

fieldset{
    margin-bottom: 8px;
}